body {
    font-family: 'Arial';
}

.js-name-input {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 6px;
    font-size: 15px;
}

.js-due-date-input {
    font-size: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 5px;
    width: 138px;
    padding-right: 7px;
}

.add-button {
    background-color: green;
    color: white;
    border: 0;
    font-size: 15px;
    cursor: pointer;
}

.todo-grid, .todo-input-grid {
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}

.todo-input-grid {
    margin-bottom: 13px;
    align-items: stretch;
}

.delete-button {
    background-color: maroon;
    color: white;
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 15px;
    cursor: pointer;
}